.maincontainer{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  background-color: black;
  color: white;  
}
.container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  column-gap: 1vw;
  margin-top: 210px;
  background-color: black;
  }
  
  .homecard {
    background-color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 1vw;
    color:white;
    margin-right: 10px;
  margin-bottom: 10px;
  }
  .movieList {
    /* Add any existing styles for the movie list */
    /* To make the movies start on a new row, add the following style */
    display: flex;
    flex-wrap: wrap;
  }
  .title {
    color: white;
    text-align: center;
  }
  .cardinfo {
    text-align: center;
    padding-top: 4px;
    line-height: 15px;
     
  }
  .mainMovie {
    flex: 0 0 auto;
    width: 100%;
    height: 50%;
    text-align: center;
    margin-bottom: 80px;
  }
  
  .scrollableContainer {
    height: 700px;
    margin-top:20px;
    display: flex;
    overflow-x: auto;
  }
  
  .item {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    text-align: center;
  }
  
  .title {
    font-weight: bold;
  }
  
  .duration {
    font-style: italic;
    color: #888;
  }
  
  /* .image{
    height: 150px;
    width: 150px;
  } */
  .subheading{
    color:white;

  }

  .heading {
    /* Add any existing styles for the heading */
    /* Adjust the margin as needed */
    color: white;
  }
  .pic :hover{
    transform: scale(1.1);
    align-items: center;
  }

  .image {
    /* object-fit: contain;*/
    margin-left: 20px;
    height: 150px;
    width: 150px;
    }

  .video{
  
    height: 400px;
    width: 400px;
  }