.maincontainer{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  
    background-color: rgb(54, 50, 50);
    color: white;  
  }
  .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 0 30px;
    overflow: hidden;
    background-color: rgb(54, 50, 50);
    }
    
    .watchlist{
         margin-left: 10px;
         color: white;
           
        }
          .heading{
            margin-left:40px;
            margin-bottom:0%;
            margin-top:50px;
          }

    .filters{
        display: flex;
  justify-content: center;
  align-items: center;

    }

    
    .filter{
        height: 45px ;
        width:155px;
        color: grey;
        background-color: rgb(42, 40, 40);
        margin-Right: 40px;
         font-Weight: bold;
    }

    .search{
        margin-Right: 40px;
         font-Weight: bold;
          height: 40px;
          width:150px;
          color: white;
          background-color:  rgb(42, 40, 40);
    }

    .homecard {
        background-color: rgb(97, 93, 93);
        border-radius: 10px;
        margin-top: 50px;
        margin-left: 1vw;
        color: white;
        margin-right: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
      
    }
    .movieList {
      display: flex;
      flex-wrap: wrap;
    }
    .title {
      color: white;
      text-align: center;
    }
    .cardinfo {
      text-align: center;
      padding-top: 4px;
      line-height: 15px;
       
    }
    .headingcontainer{
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      column-gap: 1vw;
      margin-top: 40px;
      margin-left: 50px;
      font-size: 50px;
      background-color: rgb(3, 3, 3);
    }
    .mainMovie {
      flex: 0 0 auto;
      width: 100%;
      height: 50%;
      text-align: center;
      margin-bottom: 80px;
    }
    
    .scrollableContainer {
      height: 700px;
      margin-top:20px;
      display: flex;
      overflow-x: auto;
    }
    
    .item {
      flex: 0 0 auto;
      width: 200px;
      margin-right: 10px;
      padding: 10px;
      background-color: #f1f1f1;
      text-align: center;
    }
    
    .title {
      font-weight: bold;
    }
    
    .duration {
      font-style: italic;
      color: #888;
    }
    
    .subheading{
      color:white;
  
    }
  
    .heading {
      color: white;
    }
    
    .pic :hover{
      transform: scale(1.1);
      align-items: center;
    }
  
    .image {

      height: 200px;
      width: 150px;
      }
  
    .video{
    
      height: 400px;
      width: 400px;
    }