
.mainContainer{
    
    background-repeat: no-repeat;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .titleContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .movieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .h1 {
    color: black;
    font-size: 60px;
  }
 
  
  
  
  
  